$color_1: #ff6060;

.header {
	display: flex;
	font-weight: 400;
	color: $color_1;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header_nav {
	ul {
		display: flex;
		flex-direction: row;
		-webkit-padding-start: 0;
		padding-inline-start: 0;
		gap: 0.7rem;
	}
}
.header_nav_link {
	font-size: 0.7em;
	text-decoration: none;
	text-transform: uppercase;
	transition: transform 150ms ease-in-out;
	&:hover {
		transform: scale(1.05);
		opacity: 0.8;
	}
}
.header_nav_link_active {
	text-decoration: underline;
}
.header_logo {
	img {
		width: 140px;
	}
}
@media screen and (min-width: 769px) and (max-width: 992px) {
	.header_nav {
		ul {
			gap: 2rem;
		}
	}
	.header_nav_link {
		font-size: 1.1em;
		text-transform: capitalize;
	}
	.header_logo {
		img {
			width: 130px;
		}
	}
}
@media (min-width: 993px) {
	.header_nav {
		ul {
			gap: 4rem;
		}
	}
	.header_nav_link {
		font-size: 1.3em;
		text-transform: capitalize;
	}
	.header_logo {
		img {
			width: 170px;
		}
	}
}
