.carousel {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
  }

.carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 50;
  }

.carousel_arrows {
    display: flex;
    position: absolute;
    z-index: 999;
    align-items: center;
    top: 38%;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 0 10px 0;
  }

.carousel .picture_counter {
    position: absolute;
    color: transparent;
    z-index: 999;
    bottom: 15px;
    left: 50%;
  }

.carousel_arrow {
    cursor: pointer;
    color: white;
    font-size: 80px;
    height: 80px !important;
    transition: transform 200ms ease-in-out;
  }

.carousel_arrow:hover {
    transform: scale(1.06);
  }


  @media (min-width: 993px) {
    .carousel {
      height: 415px;
    }

    .carousel .picture_counter {
        color: white;
    }
  }


  @media screen and (min-width: 769px) and (max-width: 992px) {
    .carousel {
      height: 300px;
    }
  }


  @media screen and (max-width: 768px) {
    .carousel {
      height: 255px;
    }

    .carousel_arrows {
        top: 44%;
    }

    .carousel_arrow {
        font-size: 30px;
        height: 30px !important;
    }
  }