.host_rating_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.rating_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

.rating_container .star {
    font-size: 1.1rem;
  }

.rating_container .star-empty {
    color: #E3E3E3;
  }

.rating_container .star-full {
    color: #FF6060;
  }


  @media screen and (min-width: 769px) and (max-width: 992px) {
    .host_rating_container {
      flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  @media (min-width: 993px) {
    .host_rating_container {
      flex-direction: column-reverse;
      gap: 10px;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 0.5em;
    }
  }


  @media (min-width: 993px) {
    .rating_container {
      gap: 9px;
    }

    .rating_container .star {
        font-size: 1.8rem;
    }
  }


  @media screen and (min-width: 769px) and (max-width: 992px) {
    .rating_container {
      padding-bottom: 0.5em;
    }

    .rating_container .star {
        font-size: 1.3rem;
    }
  }

  