$color_1: white;
$background-color_1: #FF6060;

.tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 6px;
	margin: 10px 0;
	.tag {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 7rem;
		height: 1.4rem;
		background-color: $background-color_1;
		border-radius: 0.5rem;
		padding: 0 1rem;
		margin-right: 3px;
		h3 {
			font-size: 0.6rem;
			font-weight: 400;
			color: $color_1;
		}
	}
}
@media (min-width: 993px) {
	.tags {
		margin-top: 20px;
		.tag {
			height: 1.7rem;
			h3 {
				font-size: 0.9rem;
			}
		}
	}
}
