.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    margin: 10px 0;
  }

.tags .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 7rem;
    height: 1.4rem;
    background-color: #FF6060;
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin-right: 3px;
  }

.tags .tag h3 {
    font-size: 0.6rem;
    font-weight: 400;
    color: white;
  }


  @media (min-width: 993px) {
    .tags {
      margin-top: 20px;
    }

    .tags .tag {
        height: 1.7rem;
    }

    .tags .tag h3 {
        font-size: 0.9rem;
    }
  }