$color_1: inherit;
$font-family_1: "Montserrat", sans-serif;

* {
	text-decoration: none;
	font-family: $font-family_1;
	box-sizing: border-box;
}
body {
	max-width: 1440px;
	margin: 0 auto;
}
ul {
	list-style-type: none;
	padding: 0;
}
a {
	color: $color_1;
}
@media (min-width: 993px) {
	.home {
		margin: 40px 60px 40px;
	}
}
@media screen and (min-width: 769px) and (max-width: 992px) {
	.home {
		margin: 20px 40px 40px;
	}
}
@media screen and (max-width: 768px) {
	.home {
		margin: 15px 25px 20px;
	}
}
