* {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: inherit;
}
/* ______________________________________________ HEADER */
.header {
  display: flex;
  font-weight: 400;
  color: #ff6060;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_nav ul {
  display: flex;
  flex-direction: row;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  gap: 0.7rem;
}
.header_nav_link {
  font-size: 0.7em;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 150ms ease-in-out;
}
.header_nav_link:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
.header_nav_link_active {
  text-decoration: underline;
}
.header_logo img {
  width: 140px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .header_nav ul {
    gap: 2rem;
  }
  .header_nav_link {
    font-size: 1.1em;
    text-transform: capitalize;
  }
  .header_logo img {
    width: 130px;
  }
}
@media (min-width: 993px) {
  .header_nav ul {
    gap: 4rem;
  }
  .header_nav_link {
    font-size: 1.3em;
    text-transform: capitalize;
  }
  .header_logo img {
    width: 170px;
  }
}
/* ______________________________________________ HEADER */
/* ___________________________________________ BANNER */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.8em;
}
.banner_title {
  color: white;
  font-weight: 500;
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .banner_title {
    padding: 1em;
    text-align: center;
  }
}
@media (min-width: 993px) {
  .banner_title {
    text-align: center;
    font-size: 45px;
  }
}
.banner_img {
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 8em;
  border-radius: 15px;
  filter: brightness(65%);
}
@media (min-width: 993px) {
  .banner_img {
    height: 11em;
  }
}
/* ___________________________________________________ BANNER */
@media (min-width: 993px) {
  .home {
    margin: 40px 60px 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .home {
    margin: 20px 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .home {
    margin: 15px 25px 20px;
  }
}
/* __________________________________________________ FOOTER  */
.footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 190px;
  width: 100%;
}
.footer_img {
  width: 110px;
}
.footer p {
  font-size: 10px;
  color: white;
}
@media (min-width: 993px) {
  .footer {
    flex-wrap: wrap;
    gap: 15px;
  }
  .footer_img {
    width: 80px;
  }
  .footer p {
    font-size: 15px;
  }
}
/* __________________________________________________ FOOTER  */
