* {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: inherit;
}
/* ______________________________________________ HEADER */
.header {
  display: flex;
  font-weight: 400;
  color: #ff6060;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_nav ul {
  display: flex;
  flex-direction: row;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  gap: 0.7rem;
}
.header_nav_link {
  font-size: 0.7em;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 150ms ease-in-out;
}
.header_nav_link:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
.header_nav_link_active {
  text-decoration: underline;
}
.header_logo img {
  width: 140px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .header_nav ul {
    gap: 2rem;
  }
  .header_nav_link {
    font-size: 1.1em;
    text-transform: capitalize;
  }
  .header_logo img {
    width: 130px;
  }
}
@media (min-width: 993px) {
  .header_nav ul {
    gap: 4rem;
  }
  .header_nav_link {
    font-size: 1.3em;
    text-transform: capitalize;
  }
  .header_logo img {
    width: 170px;
  }
}
/* ______________________________________________ HEADER */
/* ___________________________________________ BANNER */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.8em;
}
.banner_title {
  color: white;
  font-weight: 500;
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .banner_title {
    padding: 1em;
    text-align: center;
  }
}
@media (min-width: 993px) {
  .banner_title {
    text-align: center;
    font-size: 45px;
  }
}
.banner_img {
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 8em;
  border-radius: 15px;
  filter: brightness(65%);
}
@media (min-width: 993px) {
  .banner_img {
    height: 11em;
  }
}
/* ___________________________________________________ BANNER */
@media (min-width: 993px) {
  .home {
    margin: 40px 60px 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .home {
    margin: 20px 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .home {
    margin: 15px 25px 20px;
  }
}
/* __________________________________________________ FOOTER  */
.footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 150px;
  width: 100%;
}
.footer_img {
  width: 110px;
}
.footer p {
  font-size: 10px;
  color: white;
}
@media (min-width: 993px) {
  .footer {
    flex-wrap: wrap;
    gap: 15px;
  }
  .footer_img {
    width: 80px;
  }
  .footer p {
    font-size: 15px;
  }
}
/* __________________________________________________ FOOTER  */
/* _____________________________________________________ GALLERY */
.gallery {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  padding: 0;
  margin-top: 20px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .gallery {
    flex-wrap: wrap;
    flex-direction: inherit;
    justify-content: space-between;
    background-color: #F6F6F6;
    border-radius: 15px;
    padding: 45px 45px 0;
    margin-top: 1.5em;
    gap: 10px;
  }
}
@media (min-width: 993px) {
  .gallery {
    flex-wrap: wrap;
    flex-direction: inherit;
    justify-content: space-between;
    background-color: #F6F6F6;
    border-radius: 15px;
    padding: 45px 45px 0;
    margin-top: 1.5em;
    gap: 10px;
  }
}
/* ____________________________________________________________ GALLERY */
/* ____________________________________________________________ CARD */
.accommodation {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
  transition: transform 250ms ease-in-out;
}
.accommodation:hover {
  transform: scale(1.02);
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .accommodation {
    width: 48%;
    height: 200px;
    margin-bottom: 30px;
  }
}
@media (min-width: 993px) {
  .accommodation {
    width: 31%;
    height: 290px;
    margin-bottom: 40px;
  }
}
.accommodation .background {
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(251, 251, 251, 0) 40%);
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
.accommodation_img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.accommodation_title {
  position: absolute;
  bottom: 0;
  padding-left: 1em;
  font-weight: 300;
  font-size: 18px;
  color: white;
  z-index: 2;
}
@media (min-width: 993px) {
  .accommodation_title {
    font-size: 15px;
  }
}
/* ____________________________________________________________ CARD */
/* _______________________________________________________________ ERROR */
@media (min-width: 993px) {
  .error_container {
    margin: 40px 60px 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .error_container {
    margin: 20px 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .error_container {
    margin: 15px 25px 20px;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6060;
  margin-bottom: 100px;
}
.error_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error_title h1 {
  font-size: 250px;
  font-weight: 700;
  margin: 50px 0 10px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .error_title h1 {
    font-size: 150px;
  }
}
@media screen and (max-width: 768px) {
  .error_title h1 {
    font-size: 100px;
  }
}
.error_title p {
  font-size: 30px;
  text-align: center;
  margin: 0 2em 0;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .error_title p {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .error_title p {
    font-size: 15px;
  }
}
.error a {
  margin-top: 7em;
  text-decoration: underline;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .error a {
    margin-top: 10em;
    font-size: 12px;
  }
}
/* ________________________________________________ ERROR */
/* __________________________________________________ APROPOS */
@media (min-width: 993px) {
  .about {
    margin: 40px 60px 60px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .about {
    margin: 20px 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .about {
    margin: 15px 25px 20px;
  }
}

.about_collapses {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .about_collapses {
    width: 85%;
    margin: 2em auto;
  }
}
@media (min-width: 993px) {
  .about_collapses {
    width: 85%;
    margin: 1.5em auto;
  }
}
/* ____________________________________________ APROPOS */
/* ____________________________________________ APROPOS COLLAPSE */
.collapses {
  margin-top: 1.7em;
  width: 100%;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .collapses {
    margin-top: 0;
  }
}
@media (min-width: 993px) {
  .collapses {
    margin-top: 0;
  }
}

.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.collapse_button {
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.2rem;
  padding: 0 1.2em;
  background-color: #FF6060;
  border-radius: 8px;
}
.collapse_button h2 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}
.collapse_button .arrow-container {
  transform: rotate(270deg);
  margin-left: auto;
}
.collapse_button .arrow-container .arrow {
  display: flex;
  font-size: 1.7em;
  color: white;
}
.collapse_button .arrow-container-up {
  transform: rotate(0deg);
}
.collapse_content {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
  margin-top: -0.7em;
  padding: 1.5em 1em 0.5em;
  color: #FF6060;
  background-color: #F6F6F6;
  border-radius: 8px;
  animation: slide 0.5s ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ____________________________________________ APROPOS COLLAPSE */