.collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }

.collapse_button {
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.2rem;
    padding: 0 1.2em;
    background-color: #FF6060;
    border-radius: 8px;
  }

.collapse_button h2 {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
  }

.collapse_button .arrow-container {
    transform: rotate(180deg);
    transition: transform 0.2s;
    margin-left: auto;
  }

.collapse_button .arrow-container .arrow {
    display: flex;
    font-size: 1.7em;
    color: white;
  }

.collapse_button .arrow-container-down {
    transform: rotate(360deg);
    transition: transform 0.2s;
  }
  
.collapse_content {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: -0.7em;
    padding: 1.5em 1em 0.5em;
    color: #FF6060;
    background-color: #F6F6F6;
    border-radius: 8px;
    animation: slide 0.5s ease-in-out;
  }

  @keyframes slide {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }